# =========================
# Client - React
# =========================

client/node_modules/
client/dist/
client/.env
client/.env.*

# =========================
# Server - Spring Boot
# =========================

server/target/
server/.env
server/package.json
server/package-lock.json

# =========================
# Eclipse
# =========================

server/.classpath
server/.project
server/.settings/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db